*{
    padding: 0;
    margin: 0;
}
body{
    min-width: 1281px;
    margin: 0 auto;
    width:100%;
}
.pagehead{
    height: 52px;
}
.newword{
    margin-left: 55px;
    margin-top: 12px;
}
.font-newword{
    margin-left: 100px;
    margin-top: -33px;
    font-size: 20px;
}
.pagehead-nav{
    float: right;
    margin-top: -28px;
    margin-right: 70px;
    font-size: 14px;
    list-style: none;
}
.pagehead-nav li{
    float: left;
}
.cartoon:hover::after{
    content: url("imgs/nav-line.png");
}
.pagehead-nav li:hover{
    color: #E74F4D;
}
.pagehead-nav li + li{
    padding-left: 44px;
}
.login{
    float: right;
    padding-right: 103px;
    padding-top: 2px;
    margin-top: -30px;
    margin-left: -20px;
}
.sec1{
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
}
.title-eng{
    margin-left: 115px;
    margin-top: -638px;
    font-size: 65px;
    color: white;
}
.title-ch{
    margin-left: 125px;
    margin-top: 8px;
    line-height: 30px;
    font-size: 20px;
    color: white;
}
.button-begin{
    width: 320px;
    height: 62px;
    margin-top: 60px;
    margin-left: 125px;
    margin-bottom: 205px;
    color: white;
    font-size: 29px;
    background: #E74F4D;
    border: none;
    letter-spacing: 3px;
}
.sec2{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.content-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -247px;
    padding-top: 45px;
    list-style: none;
}
.nav-font1,.nav-font2,.nav-font3,.nav-font4{
    height: 50px;
    margin-top: 30px;
    padding-top: 5px;
    padding-left: 75px;
    padding-right: 75px;
    color: #7A7A7A;
    font-size: 13px;
    font-weight: 600;
    border-right: 2px solid #AFAFAF;
}
.nav-font4{
    border-right: none;
}
.content-nav div{
    flex: 1;
    margin-bottom: 65px;
    text-align: center;
}
.content-nav div + div{
    margin: 0 12px;
}
.sec3{
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background: #ECECEC;
    text-align: center;
}
.font-interval{
    padding-top: 30px;
    font-size: 48px;
    color: #A1A1A1;
    letter-spacing: 3px;
}
.map-background{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}
.sec4{
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.font-map{
    margin-bottom: -5px;
    font-size: 20px;
    color: white;
}
.font-form{
    position: absolute;
    top: 45px;
    left: 120px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.font-map2{
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 12px;
}
.country,.province,.city{
    -moz-appearance: none;
    border: none;
    width: 235px;
    height: 35px;
    margin-right: 20px;
    padding-left: 8px;
    color: #A1A1A1;
    background: url("imgs/select-box.png");
}
.button-search{
    width: 225px;
    height: 35px;
    letter-spacing: 20px;
    color: white;
    font-weight: 500;
    border: none;
    background: #E74F4D;
}
form select:hover{
    border: 1px solid #E74F4D;
}
.pics-style{
    width: 1281px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    margin-top: -5px;
    background: #F8F8F8;
}
.pics{
    margin-left: 145px;
    margin-top: -345px;
    margin-bottom: 120px;
}
.pic-background1,.pic-background2,.pic-background3,.pic-background4{
    height: 336px;
    border: 1px solid #F0F0F0;
    background: white;
}
.pic-backgrounds{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 110px;
    margin-right: 138px;
    margin-bottom: -33px;
}
.pic-backgrounds div{
    flex: 1;
}
.pic-backgrounds div + div{
    margin-left: 20px;
    margin-right: 20px;
}
.pic-background1{
    margin-left: 28px;
    margin-right: 20px;
    margin-top: 95px;
}
.pic-background2{
    margin-top: 150px;
}
.pic-background3{
    margin-top: 95px;
}
.pic-background4{
    margin-top: 95px;
}
.font-beijing{
     position: absolute;
     left: 210px;
     top: 442px;
     text-align: center;
     font-size: 14px;
}
.alliance{
     font-size: 12px;
     color: #919191;
     line-height: 24px;
}
.font-shanghai{
     position: absolute;
     left: 395px;
     top: 95px;
     text-align: center;
     font-size: 19px;
     letter-spacing: 37px;
}
.font-shanghai p:first-child{
     padding-left: 15px;
}
.sh-activity{
     font-size: 12px;
     color: #919191;
     line-height: 25px;
     letter-spacing: 0;
}
.font-shenzhen{
     position: absolute;
     top: 442px;
     left: 710px;
     text-align: center;
     font-size: 14px;
}
.sz-activity{
     font-size: 12px;
     color: #919191;
     line-height: 24px;
}
.font-hongkong{
     position: absolute;
     top: 442px;
     left: 975px;
     text-align: center;
     font-size: 14px;
}
.handout{
     font-size: 12px;
     color: #919191;
     line-height: 24px;
}
.sec6{
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
}
.triangle-right{
    margin-left: -29px;
    margin-bottom: 265px;
}
.font-newword-set {
    margin-top: -450px;
    width: 850px;
    text-align: center;
    color: white;
}
.font-newword-ch{
    margin-bottom: -28px;
    font-size: 47px;
}
.font-time{
    font-size: 160px;
    font-weight: 500;
}
.font-newword-beijing{
    padding-bottom: 15px;
    font-size: 22px;
}
.date{
    font-size: 22px;
}
.introduction-newword{
    width: 430px;
    margin-left: 850px;
    margin-top: -250px;
    margin-bottom: 123px;
    text-align: center;
}
.title-newword{
    font-size: 19px;
    font-weight: 500;
}
.title-newword span{
    color: #E74F4D;
    font-weight: normal;
    line-height: 50px;

}
.para-newword{
    padding-top: 15px;
    font-size: 12px;
    line-height: 25px;
    color: #C2C2C2;
}
.font-more{
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 43px;
    margin-bottom: 20px;
    margin-left: 163px;
    border: 1px solid #E74F4D;
    color: #E74F4D;
}
.introduction-newword img + img{
    padding-left: 10px;
}

.link-nav{
    display: flex;
    flex-direction: row;
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
}
.link-nav div{
    flex: 1;
}
.nav-left{
    background: #E7504D;
    padding-top: 162px;
    padding-bottom: 202px;
    text-align: center;
    line-height: 33px;
    font-size: 19px;
    color: white;
    /*position: relative;
    z-index: 10;*/
}
.nav-left-line{
    padding-top: 5px;
    padding-bottom: 12px;
}
.seemore1{
    margin-right: auto;
    margin-left: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 160px;
    border: 1px solid white;
}
.nav-center{
    padding-top: 162px;
    font-size: 19px;
    text-align: center;
    line-height: 33px;
}
.nav-center-line{
    color:lightgray;
    padding-top: 5px;
    padding-bottom: 12px;
}
.seemore2{
    width: 160px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E74F4D;
    color: #E74F4D;
}
.pic-people{
    margin-bottom: -525px;
}
.blackground{
    opacity: 0.4;
}
.nav-right{
    position: relative;
    margin-top: -20px;
}
.triangle-right2{
    position: absolute;
    top: 263px;
    right: 406px;
}
.sec8{
    width: 100%;
}
.volunteer-before{
    padding-top: 105px;
    padding-bottom: 93px;
    text-align: center;
}
.title-vol{
    margin-bottom: -3px;
    font-size: 20px;
}
.underline{
    color: #E74F4D;
    font-size: 16px;
}
.content-vol{
    font-size: 12px;
    color: #A3A3A3;
}
.volunteer-after{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 162px;
}
.volunteer-right{
    flex: 1;
}
.volunteer-left{
    flex: 0 0 28%;
    margin-right: 70px;
}
.protocol-title,.right-title,.clause{
    padding-bottom: 20px;
    font-size: 14px;
}
.protocol-content,.right-content{
    margin-bottom: -2px;
    font-size: 12px;
    line-height: 19px;
    color: #A4A5A3;
}
.volunteer-left a{
    margin-left: 85%;
}
.label-more{
    display: inline;
    font-size: 10px;
    color: #A4A5A3;
}
.right-title{
    padding-top: 30px;
}
.clause{
    padding-top: 10px;
    padding-bottom: 5px;
}
.a-line-left,.a-line-right-add,.a-line-right-age{
    width: 47%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 40px;
    color: #7E7C7D;
    background: #EDECEE;
}
.a-line-right-add,.a-line-right-age{
    margin-left: 51%;
}
.a-line-right-age{
    margin-top: -108px;
}
.multi-line{
    width: 98%;
    height: 113px;
    padding-left: 15px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 40px;
    color: #7E7C7D;
    background: #EDECEE;
}
.submit-apply{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    background: #EDECEE;
}
.sec9{
    text-align: center;
    color: white;
    background: #32353E;
}
.contact-us{
    padding-top: 80px;
    font-size: 20px;
}
.contact-tips{
    padding-top: 9px;
    padding-bottom: 25px;
    font-size: 12px;
}
.email{
    width: 404px;
    height: 38px;
    margin-right: -5px;
    padding-left: 8px;
    color: #A4A5A3;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
}
.button-submit{
    width: 75px;
    height: 39px;
    color: white;
    letter-spacing: 7px;
    background: #717279;
    border: none;
}
.media{
    padding-top: 35px;
    padding-bottom: 80px;
    list-style: none;
}
.media li{
    display: inline;
    padding-right: 20px;
}
.footer{
    position: relative;
    padding-top: 33px;
    padding-bottom: 33px;
    color: white;
    background: #2F3038;
}
.label-newword{
    padding-left: 6%;
    font-size: 10px;
}
.back-to-top{
    position: absolute;
    right: 5%;
    top: 33px;
    font-size: 13px;
}
